.App {
  text-align: center;
}

/*Navbar stuff*/
#root > nav {
  display: flex;
  justify-content: space-between;
}

#root > nav > div.d-flex > a {
  display: flex;
  align-items: center;
}
.searchBar {
  display: flex;
  align-items: center;
}
.mainNavLinksBox {
  display: flex;
  width: 900px;
}
.mainNavLinks {
  display: flex;
}

.profile-image {
  width: 100px;
  height: 100px;
}

/* PROFILE - RIGHT SIDE */
#rightSideUserImg {
  width: 2rem;
  object-fit: cover;
}

/* UTILITY CALSSES: */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#followBtn {
  border-radius: 25px;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
